<html>
<body>
<h3 style="font-size:80px">Proceed to checkout page</h3>
<form>
    <button style="font-size:60px" class="btn btn-outline-success btn-rounded" type="button" 
                          data-mdb-ripple-color="dark"
                          onClick="makePayment()"> CHECKOUT
    </button>
</form>

<script>

  function makePayment() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            //console.log(xhr.response);
            //console.log(readBody(xhr));
            window.location.href = xhr.responseURL
        }
    }
    //"http://127.0.0.1:8000/payment-page/checkout/" for local server
    // https://rent-me-api.herokuapp.com/payment-page/checkout/ for live server
    xhr.open("POST", "https://rent-me-api.herokuapp.com/payment-page/checkout/", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
    xhr.send(JSON.stringify({
        "currency":"NGN",
        "product_id": 1,
        "amount":"1000"
    }));
  }
</script>
</body>
</html>